* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
#text {
    word-break: keep-all;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
button {
    border: none;
}
img {
    pointer-events: none;
}